XSD/garcommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:garcom="http://www.broservices.nl/xsd/garcommon/0.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
           xmlns:om="http://www.opengis.net/om/2.0"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://www.broservices.nl/xsd/garcommon/0.5"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.5.0">

   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>

    <!--
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="https://schema.broservices.nl/xsd/brocommon/3.0/brocommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/om/2.0" schemaLocation="https://schema.broservices.nl/profile/om/1.0/om-profile.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schema.broservices.nl/profile/gml/1.0/gml-profile.xsd"/>
    -->
   <xs:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd"/>
   <xs:import namespace="http://www.opengis.net/om/2.0" schemaLocation="om-profile.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml-profile.xsd"/>

   <xs:element name="FieldResearch" type="garcom:FieldResearchType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het deel van het onderzoek dat betrekking heeft op het bemonsteren van het grondwater en het in het veld uitvoeren van metingen die de toestand van het grondwater en de samenstelling ervan globaal karakteriseren.
Explanation: Slechts enkele gegevens over de bemonstering zijn relevant voor de basisregistratie ondergrond.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="FieldResearchType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="samplingOperator"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true"
                           type="brocom:OrganizationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het veldonderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="samplingStandard"
                           minOccurs="1"
                           maxOccurs="1"
                           type="garcom:SamplingStandardType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>SamplingStandard</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De procedure die aangeeft onder welke afspraken de bemonstering en de andere activiteiten binnen het veldonderzoek zijn uitgevoerd.
Explanation: De procedure beschrijft de manier van werken, de passende hulpmiddelen en de eisen waaraan de uitvoering van de bemonstering moet voldoen. Procedures zijn in het algemeen vastgelegd in een norm, protocol of richtlijn. Dat kan overigens een richtlijn zijn die uitvoerder voor zichzelf gebruikt. Het gegeven is opgenomen omdat het inzicht biedt in de kwaliteit van het werk.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="pumpType"
                           minOccurs="1"
                           maxOccurs="1"
                           type="garcom:PumpTypeType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>PumpType</CodeListName>
                        <CodeListURI/>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het type pomp dat is gebruikt voor het bemonsteren van het grondwater.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FieldResearchPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="garcom:FieldResearch"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>

   <xs:element name="GMW_MonitoringTube"
               type="garcom:GMW_MonitoringTubeType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De gegevens die nodig zijn voor de unieke identificatie van een specifieke buis in een grondwatermonitoringput.
Explanation: Het BRO-ID van de grondwatermonitoringput wordt opgenomen plus het volgnummer van de specifieke buis in de put.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GMW_MonitoringTubeType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="broId"
                           minOccurs="1"
                           maxOccurs="1"
                           type="brocom:RegistrationObjectCodeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van de grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="tubeNumber" type="xs:integer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het identificerende nummer van de monitoringbuis in de grondwatermonitoringput in de basisregistratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GMW_MonitoringTubePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="garcom:GMW_MonitoringTube"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>

   <xs:element name="GroundwaterMonitoringNet"
               type="garcom:GroundwaterMonitoringNetType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het grondwatermonitoringnet waarin het grondwatersamenstellingsonderzoek wordt uitgevoerd.
Explanation: Het registratieobject Grondwatermonitoringnet wordt in een aparte BRO gegevenscatalogus gedefinieerd.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GroundwaterMonitoringNetType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="broId"
                           minOccurs="1"
                           maxOccurs="1"
                           type="brocom:RegistrationObjectCodeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De identificatie van het grondwatermonitoringnet in de basisregistratie ondergrond.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GroundwaterMonitoringNetPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="garcom:GroundwaterMonitoringNet"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>

   <xs:element name="LaboratoryAnalysis" type="garcom:LaboratoryAnalysisType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De kenmerken van de in een laboratorium uitgevoerde activiteiten ten behoeve van de bepaling van de waarde van een parameter in het grondwatermonster.
Explanation: Het kan voorkomen dat in het veld genomen monsters door verschillende laboratoria op verschillende stoffen geanalyseerd worden (bijvoorbeeld: bestrijdingsmiddelen bij een ander laboratorium dan de overige stoffen).</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="LaboratoryAnalysisType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="responsibleLaboratory"
                           minOccurs="0"
                           maxOccurs="1"
                           nillable="true"
                           type="brocom:OrganizationType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het KvK-nummer van de onderneming of de maatschappelijke activiteit van de rechtspersoon die voor de bronhouder geldt als verantwoordelijk voor de uitvoering van het laboratoriumonderzoek, of het equivalent daarvan in een handelsregister van een andere lidstaat van de Europese Unie dan Nederland.
Explanation: Het gegeven wordt alleen uitgeleverd aan de dataleverancier en de bronhouder.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="analyticalTechnique"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"
                           type="garcom:AnalyticalTechniqueType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>AnalyticalTechnique</CodeListName>
                        <CodeListURI>urn:bro:gar:AnalyticalTechnique</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De analysetechniek die gebruikt is bij het bepalen van het gehalte van parameters.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="valuationMethod"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"
                           type="garcom:ValuationMethodType">
                  <xs:annotation>
                     <xs:appinfo>
                        <CodeListName>ValuationMethod</CodeListName>
                        <CodeListURI>urn:bro:gar:ValuationMethod</CodeListURI>
                     </xs:appinfo>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De norm of het voorschrift dat beschrijft hoe het onderzoek is uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LaboratoryAnalysisPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="garcom:LaboratoryAnalysis"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
   </xs:complexType>

   <xs:element name="ParameterList" type="garcom:ParameterListType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De lijst met stoffen en andere eigenschappen die in een grondwatersamenstellingsonderzoek bepaald worden.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ParameterListType">
      <xs:sequence>
         <xs:element name="id" type="xs:integer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het ID van de parameter zoals uitgegeven door het SIKB. Dit is een persistent, identificerend volgnummer binnen de referentielijst. Voor nieuwe stoffen kan een nieuwe aquocode met een nieuw ID worden aangevraagd.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aquoCode" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De Aquocode van de laboratoriumparameter. De aquocode is een codering voor een stof die afgeleid is van de naam van de stof. Voor nieuwe stoffen kan een nieuwe aquocode worden aangevraagd waarbij ook een nieuw ID wordt aangemaakt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="casNumber" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het Chemical Abstracts Service nummer van de laboratoriumparameter. Alleen chemische parameters hebben een CAS-nummer. Een Chemical Abstracts Service nummer is uniek voor elke parameter. Voor bv somparameters ontbreekt het CAS-nummer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De volledige naam van de parameter.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="unit" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De eenheid waarin de parameter geregistreerd moet worden. De prefix, het voorvoegsel van de eenheid, mag worden aangepast als dit beter aansluit bij de hoogte van de gemeten waarde. Wanneer bijvoorbeeld ug/l in de parameterlijst staat, is mg/l ook toegestaan.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aspect" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De afgesproken hoedanigheid waarin de parameter wordt gerapporteerd. De hoedanigheid is een nadere duiding van de eenheid, behorend bij een meetwaarde, bijvoorbeeld ten opzicht van 25 graden Celcius. De hoedanigheid kan ook de fractie van de parameter aangeven waarop de meetwaarde betrekking heeft, bijvoorbeeld de opgeloste fractie (bijv. na filtratie): nf. Bij stiksfofverbindingen wordt bijvoorbeeld aangegeven dat de waarde wordt uitgedrukt in stikstof in opgeloste fractie (Nnf).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ParameterListPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="garcom:ParameterList"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AnalyticalTechniqueType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:AnalyticalTechnique"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ColorType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:Color"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ColorStrengthType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:ColorStrength"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LimitSymbolType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:LimitSymbol"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="PumpTypeType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:PumpType"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="QualityControlMethodType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:QualityControlMethod"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="QualityControlStatusType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:QualityControlStatus"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="SamplingStandardType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:SamplingStandard"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ValuationMethodType">
      <xs:simpleContent>
         <xs:restriction base="gml:CodeWithAuthorityType">
            <xs:attribute name="codeSpace"
                          type="xs:anyURI"
                          use="required"
                          fixed="urn:bro:gar:ValuationMethod"/>
         </xs:restriction>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>
